.homepage {
    width: 100%;
    height: 100vh;

    .homepage__container {
        width: 100%;
        height: 100vh;
        display: flex;
        overflow: hidden;

        .frame {
            width: 72%;
            height: 100%;
            max-height: 100%;
            z-index: 9;

            .home {
                width: 100%;
                position: relative;

                img {
                    width: 100%;
                }

                .home-cover {
                    width: 100%;
                    height:100%;

                    &.hideHome {
                        display: none;
                    }
                    
                    .background-image {
                        width: 100%;
                        height:100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -8;
    
                        img {
                            width: 100%;
                        }
                    }
    
                    .car {
                        width: 100%;
                        position: absolute;
                        bottom: 16.6%;
                        right: -27.5%;
                        z-index: -3;
                        animation: slide-left 1s ease;
    
                        img {
                            width: 100%;
                        }
                    }
    
                    .tree {
                        width: 100%;
                        position: absolute;
                        top: -5.3%;
                        left: -5%;
                        z-index: -7;
                        mix-blend-mode: multiply;
                        animation: slide-tree 2s ease;
    
                        img {
                            width: 100%;
                        }
                    }
    
                    .cloud1 {
                        width: 22%;
                        position: absolute;
                        bottom: 35%;
                        left: 12%;
                        z-index: -2;
                        animation: clouds-left 2s ease;
    
                        img {
                            width: 100%;
                        }
                    }

                    .cloud2 {
                        width: 12%;
                        position: absolute;
                        top: 28%;
                        left: 12%;
                        z-index: -2;
                        animation: clouds-left 2s ease;
    
                        img {
                            width: 100%;
                        }
                    }

                    .cloud3 {
                        width: 30%;
                        position: absolute;
                        top: 40%;
                        left: 12%;
                        z-index: -2;
                        animation: clouds-left 2s ease;
    
                        img {
                            width: 100%;
                        }
                    }

                    .cloud4 {
                        width: 30%;
                        position: absolute;
                        top: 34%;
                        right: 28%;
                        z-index: -2;
                        animation: clouds-right 2s ease;
    
                        img {
                            width: 100%;
                        }
                    }

                    .cloud5 {
                        width: 25%;
                        position: absolute;
                        top: 20%;
                        right: 25.8%;
                        z-index: -2;
                        transform: rotate(-2deg);
                        animation: clouds-right 2s ease;
    
                        img {
                            width: 100%;
                        }
                    }
                }

                .credits-cover {
                    display: none;
                    width: 100;
                    height: 100%;

                    &.show {
                        display: block;
                    }

                    .background-image {
                        width: 100%;
                        height:100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -8;
    
                        img {
                            width: 100%;
                        }
                    }

                    .left_tree {
                        width: 30%;
                        position: absolute;
                        top: 12%;
                        left: 5%;
                        z-index: -5;
                        animation: slide-tree 2s ease;
    
                        img {
                            width: 100%;
                        }
                    }

                    .right_tree {
                        width: 30%;
                        position: absolute;
                        top: 12%;
                        right: 15%;
                        z-index: -5;
                        animation: slide-tree-right 2s ease;
    
                        img {
                            width: 100%;
                        }
                    }

                    .cidida {
                        display: none;
                        width: 38%;
                        position: absolute;
                        bottom: 5.5%;
                        right: 28%;
                        z-index: -5;

                        &.show {
                            display: block;
                        }
                    }
                    .july {
                        display: none;
                        width: 38%;
                        position: absolute;
                        bottom: 5.5%;
                        right: 28%;
                        z-index: -5;

                        &.show {
                            display: block;
                        }
                    }
                    .pj {
                        display: none;
                        width: 38%;
                        position: absolute;
                        bottom: 24.8%;
                        right: 28%;
                        z-index: -5;

                        &.show {
                            display: block;
                        }
                    }
                    .dallas {
                        display: none;
                        width: 38%;
                        position: absolute;
                        bottom: 5.5%;
                        right: 28%;
                        z-index: -5;

                        &.show {
                            display: block;
                        }
                    }
                    .mitch {
                        display: none;
                        width: 38%;
                        position: absolute;
                        bottom: 15.5%;
                        right: 28%;
                        z-index: -5;

                        &.show {
                            display: block;
                        }
                    }
                    .joe {
                        display: none;
                        width: 38%;
                        position: absolute;
                        bottom: 5.5%;
                        right: 28%;
                        z-index: -5;

                        &.show {
                            display: block;
                        }
                    }
                }

                .listen-cover {
                    width: 100%;
                    height:100%;
                    display: none;

                    &.show {
                        display: block;
                    }

                    .edge-screen {
                        width: 100%;
                        height: 100%;
                        display: none;
                        

                        &.show {
                            display: block;
                        }

                        .background-image {
                            width: 100%;
                            height:100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: -8;
        
                            img {
                                width: 100%;
                            }
                        }

                        .left_tree {
                            width: 35%;
                            position: absolute;
                            top: -1.3%;
                            left: 0%;
                            z-index: -5;
                            animation: slide-tree 2s ease;
        
                            img {
                                width: 100%;
                            }
                        }

                        .right_tree {
                            width: 35%;
                            position: absolute;
                            top: -1.3%;
                            right: 7%;
                            z-index: -5;
                            animation: slide-tree-right 2s ease;
        
                            img {
                                width: 100%;
                            }
                        }

                        .water {
                            width: 100%;
                            position: absolute;
                            top: 0%;
                            left: 7%;
                            z-index: -7;
        
                            img {
                                width: 100%;
                            }
                        }

                        .mountains {
                            width: 100%;
                            position: absolute;
                            top: 0%;
                            left: 7%;
                            z-index: -7;
        
                            img {
                                width: 100%;
                            }
                        }

                        .truck {
                            width: 70%;
                            position: absolute;
                            bottom: 27%;
                            left: -2%;
                            z-index: -7;
                            perspective: 700px;
        
                            img {
                                width: 100%;
                                animation: truck 5s ease;
                            }
                        }

                        .plane {
                            width: 10%;
                            position: absolute;
                            top: 20%;
                            z-index: -7;
                            animation: plane 10s linear;
        
                            img {
                                width: 100%;
                            }
                        }
                    }

                    .daze-screen {
                        display: none;

                        &.show {
                            display: block;
                        }
                    }

                    .dog-screen {
                        display: none;

                        &.show {
                            display: block;
                        }
                    }
                }

                .download-cover {
                    display: none;
                    width: 100%;
                    height: 100%;

                    &.show {
                        display: block;
                    }

                    .background-image {
                        width: 100%;
                        height:100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -8;
    
                        img {
                            width: 100%;
                        }
                    }

                    .left_tree {
                        width: 35%;
                        position: absolute;
                        top: 8%;
                        left: 0%;
                        z-index: -5;
                        animation: slide-tree 2s ease;
    
                        img {
                            width: 100%;
                        }
                    }

                    .right_tree {
                        width: 35%;
                        position: absolute;
                        top: 8%;
                        right: 9%;
                        z-index: -5;
                        animation: slide-tree-right 2s ease;
    
                        img {
                            width: 100%;
                        }
                    }

                    .hand {
                        width: 15%;
                        position: absolute;
                        bottom: 23%;
                        right: 45%;
                        z-index: -5;
                        animation: hand-up 2s ease;
    
                        img {
                            width: 100%;
                        }
                    }

                    .phone {
                        width: 10%;
                        position: absolute;
                        top: 24%;
                        right: 49%;
                        z-index: -5;
                        animation: phone-down 2s ease;
    
                        img {
                            width: 100%;
                        }
                    }
                }

                .contact-cover {
                    display: none;
                    width: 100%;
                    height: 100%;

                    &.show {
                        display: block;
                    }

                    .background-image {
                        width: 100%;
                        height:100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -8;
    
                        img {
                            width: 100%;
                        }
                    }

                    .left_tree {
                        width: 30%;
                        position: absolute;
                        top: 6%;
                        left: 2%;
                        z-index: -5;
                        animation: slide-tree 2s ease;
    
                        img {
                            width: 100%;
                        }
                    }

                    .right_tree {
                        width: 30%;
                        position: absolute;
                        top: 6%;
                        right: 11%;
                        z-index: -5;
                        animation: slide-tree-right 2s ease;
    
                        img {
                            width: 100%;
                        }
                    }

                    .plane {
                        width: 10%;
                        position: absolute;
                        top:20%;
                        z-index: -7;
                        animation: plane-right 10s linear;
    
                        img {
                            width: 100%;
                        }
                    }

                    .water {
                        width: 100%;
                        position: absolute;
                        top: 12%;
                        left: 7%;
                        z-index: -2;
    
                        img {
                            width: 100%;
                        }
                    }

                    .thin-water {
                        width: 100%;
                        position: absolute;
                        top: 8%;
                        left: 7%;
                        z-index: -7;
    
                        img {
                            width: 100%;
                        }
                    }

                    .mountains {
                        width: 100%;
                        position: absolute;
                        top: 0%;
                        left: 7%;
                        z-index: -7;
    
                        img {
                            width: 100%;
                        }
                    }

                    .crab {
                        width: 11%;
                        position: absolute;
                        bottom: 30%;
                        left: 35%;
                        z-index: -7;
                        animation: crab-up 4s ease;
    
                        img {
                            width: 100%;
                        }
                    }

                    .bottle {
                        width: 4%;
                        position: absolute;
                        bottom: 55%;
                        right: 27%;
                        z-index: -7;
                        animation: bottle-float 25s linear infinite;
    
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .control-panel {
            width: 28%;
            height: 100%;
            background: #888F92;
            z-index: 9;

            .buttons {
                display: flex;
                flex-direction: column;
                margin-top: 3rem;

                button {
                    width: 90%;
                    height: 4.2rem;
                    margin: 0 auto;
                    margin-bottom: 1.3rem;
                    font-size: 1.3rem;
                    text-transform: uppercase;
                    background: #D7DADB;
                    cursor: pointer;
                    position: relative;
                    border: 2px solid #000;
                    z-index: 2;

                    &::after {
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: .2rem;
                        right: .2rem;
                        background: #D7DADB;
                        z-index: -1;
                        border: 2px solid #000;
                    }
                }
            }

            .screen {
                width: 90%;
                height: 57%;
                margin: 0 auto;
                border: 2px solid #000;
                background: #D7DADB;
                position: relative;

                .credits {
                    display: none;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(4, 1fr);
                    grid-row-gap: 2rem;
                    margin-top: 2rem;

                    &.active {
                        display: grid;
                    }

                    &__artist {
                        width: 60%;
                        margin: 0 auto;
                        text-align: center;
                        cursor: pointer;

                        .back {
                            height: 100px;
                            width: 100px; 
                            border-radius: 50%;
                            overflow: hidden;
                            position: relative;
                            margin: 0 auto;

                            img {
                                width: 100%;
                            }
                        }

                        .image {
                            position: absolute;
                            bottom: -1rem;
                            left: 0;
                            width: 80%;


                            img {
                                width: 100%;
                            }
                        }

                        .cidida, .pj {
                            width: 100%;
                            left: -2rem;
                            bottom: -.5rem;
                            transform: scale(1.4);
                        }

                        .pj {
                            bottom: -.9rem;
                        }

                        p {
                            margin: .2rem;
                        }
                    }
                }

                .listen {
                    display: none;
                    flex-direction: column;

                    &.show {
                        display: flex;
                    }

                    &__song {
                        width: 90%;
                        margin: 0 auto;
                    }

                    .soundcloud {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                    }

                    .edge {
                        display: none;

                        &.show {
                            display: block;
                        }
                    }

                    .daze {
                        display: none;

                        &.show {
                            display: block;
                        }
                    }

                    .dog {
                        display: none;

                        &.show {
                            display: block;
                        }
                    }
                }

                .download {
                    display: none;
                    flex-direction: column;

                    &.show {
                        display: flex;
                    }

                    &__platform {
                        width: 90%;
                        margin: 0 auto;

                        .image {
                            width: 30%;

                            img {
                                width: 100%;
                            }
                        }
                    }
                }

                .contact {
                    display: none;
                    flex-direction: column;

                    &.show {
                        display: flex;
                    }

                    &__platform {
                        width: 90%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(600px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slide-tree {
    0% {
        transform: rotate(190deg);
        transform: translateX(-200px);
    }
    100% {
        transform: rotate(0deg);
        transform: translateX(0);
    }
}
@keyframes slide-tree-right {
    0% {
        transform: rotate(190deg);
        transform: translateX(200px);
    }
    100% {
        transform: rotate(0deg);
        transform: translateX(0);
    }
}
@keyframes clouds-left {
    0% {
        transform: translateX(-300px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes clouds-right {
    0% {
        transform: translateX(300px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes plane {
    0% {
        transform: translateX(900px);
    }
    100% {
        transform: translateX(-5000);
    }
}
@keyframes plane-right {
    0% {
        transform: translateX(200px);
    }
    100% {
        transform: translateX(5000);
    }
}
@keyframes truck {
    0% {
        transform: translateZ(700px);
    }
    100% {
        transform: translateZ(0);
    }
}
@keyframes hand-up {
    0% {
        transform: translateY(700px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes crab-up {
    0%{
        transform: translateY(-150px);
    }
    50% {
        transform: translateY(-75);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes phone-down {
    0% {
        transform: translateY(-700px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes bottle-float {
    0% {
        transform: translateX(100px) translateY(20px);
    }
    20% {
        transform: translateX(0px) translateY(10px);
    }
    30%{
        transform: translateX(-100px) translateY(20px);
    }
    40%{
        transform: translateX(-200px) translateY(0px);
    }
    50%{
        transform: translateX(-300px) translateY(20px);
    }
    60% {
        transform: translateX(-400px) translateY(10px);
    }
    70% {
        transform: translateX(-500px) translateY(0px);
    }
    80%{
        transform: translateX(-600px) translateY(20px);
    }
    90% {
        transform: translateX(-700px) translateY(10px);
    }
    100% {
        transform: translateX(-800px) translateY(0px);
    }
}